<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<title>Inventory Detail Page.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/themify/themify-icons.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/elegant-font/html-css/style.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animate/animate.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animsition/css/animsition.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/select2/select2.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/slick/slick.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/noui/nouislider.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<!--===============================================================================================-->
<style>

.inventory-heading {
	border-top: 1px solid #e9ecef;
	border-bottom: 1px solid #e9ecef;
	padding-top: 15px;
	padding-bottom: 15px;
}

.m-t-8 {
	margin-top: 8px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-t-20 {
	margin-top: 20px;
}

.btn {
	color: #ccc;
}

.h-50 {
	height: 50%;
}

.border-2 {
	border: 2px solid #ccc;
	width: 30%;
}

#sm-pagination a, #sm-pagination p {
	display: inline;
}

#sm-pagination p {
	margin-left: 8px;
	margin-right: 8px;
	font-size: 16px;
}

.color-gray {
	background-color: #e7e7e8;
}

.dropdown span, #sm-pagination span {
	margin-left: 5px;
	margin-right: 5px;
}

.font-size-12 {
	font-size: 12px;
}
.site-color {
	background-color: #e65540;
}

.site-color th {
	text-align: center; 
}

table {
	border: 1px solid #e9ecef;
}

th, td {
	text-align: center;
}
</style>
</head>
<body class="animsition">
	<header th:replace="~{fragments/header}" class="header1"> </header>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-3 p-b-30">
					<div th:replace="~{fragments/admin-sidebar}"></div>
				</div>

				<div class="col-md-9 p-b-30">
					<div class="row" style="border: 1px solid #f2f2f2;">
					<div class="col-md-3 p-b-30 m-t-15" style="border-right: 1px solid #ccc;">
						<h6 class="font-weight-bold"> Categories</h6>
						<div>
							<a href="#" id="collapseCategory" class="fs-12 font-weight-bold"> collapse all</a> | <a href="#" id="expandCategory" class="fs-12 font-weight-bold"> expand all</a>
						</div>
						<ul class="fs-13 font-weight-bold" id="categoryHierarchy">
							
						</ul>
					</div>
					<div class="col-md-9 p-b-30">
						<h3 class="inventory-heading">Inventory Details<a th:href="@{/admin/productEntry}"
								class="btn btn-sm btn-secondary pull-right">Add Product</a></h3>

						<!-- <div class="m-t-20">
							<select class="sizefull font-size-12 m-t-8" id="product-category">
								<option value="">Choose Category</option>
								<option th:each="category : ${categories}"
									th:value="${category.categoryId}"
									th:text="${category.categoryName}">Computer And
									Peripherals</option>
							</select>
						</div>

						<div>
							<select class="sizefull m-t-8 font-size-12" id="sub-category">
								<option value="">Sub Categories</option>
							</select>
						</div> -->

						<div class="row m-t-20">
							<div class="input-group col-md-6">
								<input
									class="form-control py-2 font-size-12 border-right-0 border"
									type="search" placeholder="Search items..."
									id="search-input"> <span
									class="input-group-append">
									<button id="searchBtn" class="btn btn-outline-secondary border-left-0 border"
										type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
							<div class="col-md-6">
								<div class="btn-group pull-right" role="group">
									<button class="btn btn-sm btn-light">
										<i class="fa fa-eye" aria-hidden="true"></i> View
									</button>
									<span class="linedivide1"></span>
									<button class="btn btn-sm btn-light">
										<i class="fa fa-cog" aria-hidden="true"></i> Settings
									</button>
								</div>
							</div>
						</div>

						<div class="row m-t-20">
							<div class="col-md-6">
								<div class="dropdown">
									<span>Filter by: </span> <a class="btn btn-sm color-gray"
										data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"> <i class="fa fa-chevron-down"
										aria-hidden="true"></i>
									</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" id="in-stock" href="#">In-Stock</a>
										 <a class="dropdown-item" id="out-of-stock" href="#">Out-Of-Stock</a>
									</div>
									
								</div>
							</div>

							<div class="col-md-6">
								<div class="row">
									<div class="col-md-6">
										<div class="dropdown">
											<span id="pageSizeCounter">9</span>items <a class="btn btn-sm color-gray"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"> <i class="fa fa-chevron-down"
												aria-hidden="true"></i>
											</a>
											<div class="dropdown-menu" id="pageSize">
												<a class="dropdown-item" href="#">10</a> 
												<a class="dropdown-item" href="#">20</a>
												<a class="dropdown-item" href="#">30</a>
											</div>
											<span> per page.</span>
										</div>

									</div>
									<div class="col-md-6">
										<div id="sm-pagination" class="pull-right">
											<a class="btn btn-sm color-gray" id="prev" href="#"> <i
												class="fs-12 fa fa-chevron-left" aria-hidden="true"></i>
											</a> <span id="sm-pagination-text">1 of 20</span> <a
												class="btn btn-sm color-gray" id="next" href="#"> <i
												class="fs-12 fa fa-chevron-right" aria-hidden="true"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="m-t-20">
							<table class="table">
								<thead>
									<tr class="site-color">
										<th>#</th>
										<th>Product ID</th>
										<th>Name</th>
										<th>Price</th>
										<th>Units</th>
										<th>Quantity</th>
										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody id="table-body">
								</tbody>
							</table>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="~{fragments/footer :: footer}"
		class="bg6 p-t-45 p-b-43 p-l-45 p-r-45"> </footer>
		
	<!--===============================================================================================-->
    <script type="text/javascript" th:src="@{/vendor/bootstrap/js/popper.min.js}"></script>
	<div th:replace="~{fragments/scripts :: scripts}"></div>
	<script type="text/javascript" th:src="@{/js/stock.js}"></script>
	
</body>
</html>