<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<title>iPasal: Customer Checkout</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/themify/themify-icons.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/elegant-font/html-css/style.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animate/animate.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animsition/css/animsition.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/select2/select2.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/slick/slick.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/noui/nouislider.min.css"
	th:href="@{/vendor/noui/nouislider.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/checkout.css"
	th:href="@{/css/checkout.css}" />
<link
	href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css"
	rel="stylesheet" type="text/css" />
</head>
<body class="animsition">

	<!-- Header -->
	<header th:replace="~{fragments/header :: header}" class="header1">

	</header>

	<div class="row" id="shipping_detail_container"
		th:if="${session.containsKey('cart') && session.cart != null}">
		<div class="row checkout-status-container">
			<div class="col-20">
				<div class="badge-container">
					<span class="badge badge-selected">1</span>PERSONAL
				</div>
			</div>
			<div class="col-20">
				<div>
					<span class="badge badge-normal">2</span>PAYMENT
				</div>
			</div>
			<div class="col-20">
				<div>
					<span class="badge badge-normal">3</span>FINISH
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-50">
				<div class="container">
					<form id="checkout" sec:authorize="!isAuthenticated()"
						th:object="${userInfo}" method="POST">
							<div class="col-50">
								<h3>Personal Information</h3>
								<div class="form-group">
									<label for="fName"><i class="fa fa-user"></i> First Name</label>
									<input type="text" th:field="*{fName}" id="fullName"
										name="fName" class="form-control" placeholder="John"
										data-validation="required"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('fName')}" th:errors="*{fName}"></small>
								</div>
	
								<div class="form-group">
									<label for="fmName"><i class="fa fa-user"></i> Middle
										Name</label> <input type="text" th:field="*{mName}" id="mName"
										name="mName" class="form-control" placeholder="M.">
	
								</div>
	
								<div class="form-group">
									<label for="lName"><i class="fa fa-user"></i> Last Name</label>
									<input type="text" id="lName" th:field="*{lName}" name="lName"
										class="form-control" placeholder="Doe"
										data-validation="required"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('lName')}" th:errors="*{lName}"></small>
								</div>
	
								<div class="form-group">
									<label for="email"><i class="fa fa-envelope"></i> Email</label>
									<input type="text" id="email" th:field="*{email}" name="email"
										class="form-control" placeholder="john@example.com"
										data-validation="email"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
								</div>
	
								<div class="from-group">
									<label for="phoneNo"><i class="fa fa-phone-square"></i>
										Contact Number</label> <input type="text" id="phone"
										th:field="*{phone}" name="phone" class="form-control"
										placeholder="contact number" data-validation="number length"
										data-validation-length="10"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
								</div>
								
								<div class="from-group">
									<label for="address"><i class="fa fa-location-arrow"></i>
										Local Address</label> <input type="text" id="address"
										th:field="*{street}" name="street" class="form-control"
										placeholder="local address.." data-validation="required"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></small>
								</div>
								
								<label> Delivery Locations: </label> <select id="citySelector"
							name="deliveryOption" th:field="*{city}">
							<option th:each="shippingRate: ${shippingRateInfo}"
								th:data-val="${shippingRate.amount}"
								th:text="${shippingRate.location != 'Default' ? shippingRate.location : 'Other Location'}"
								th:value="${shippingRate.location}"></option>
						</select>
							</div>
						<button class="btn" name="_eventId_paymentMethod">
							Next - Billing/Shipping Info <i class="fa fa-angle-double-right"
								aria-hidden="true"></i>
						</button>
					</form>
	
					<form sec:authorize="hasRole('ROLE_CUSTOMER')"
						th:object="${userInfo}" method="POST">
							<div class="col-50">
								<h3>Personal Information</h3>
								<div class="form-group">
									<label for="fName"><i class="fa fa-user"></i> First Name</label>
									<input type="text" id="fullName" name="fName"
										class="form-control"
										th:value="${#authentication.principal.fName}"
										placeholder="John" data-validation="required"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('fName')}" th:errors="*{fName}"></small>
								</div>
	
								<div class="form-group">
									<label for="fmName"><i class="fa fa-user"></i> Middle
										Name</label> <input type="text" id="mName" name="mName"
										th:value="${#authentication.principal.mName}"
										class="form-control" placeholder="M.">
	
								</div>
	
								<div class="form-group">
									<label for="lName"><i class="fa fa-user"></i> Last Name</label>
									<input type="text" id="lName" name="lName" class="form-control"
										placeholder="Doe" th:value="${#authentication.principal.lName}"
										data-validation="required"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('lName')}" th:errors="*{lName}"></small>
								</div>
	
								<div class="form-group">
									<label for="email"><i class="fa fa-envelope"></i> Email</label>
									<input type="text" id="email" name="email" class="form-control"
										placeholder="john@example.com"
										th:value="${#authentication.principal.email}"
										data-validation="email"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
								</div>
	
								<div class="from-group">
									<label for="phoneNo"><i class="fa fa-phone-square"></i>
										Contact Number</label> <input type="text" id="phone" name="phone"
										class="form-control" placeholder="contact number"
										data-validation="number length"
										th:value="${#authentication.principal.phone}"
										data-validation-length="10"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
								</div>
							</div>
						<div class="row" sec:authorize="hasRole('ROLE_CUSTOMER')">
							<p>Customer Details</p>
						</div>
						<label> <input type="checkbox" checked="checked"
							name="sameadr"> Logged In User.
						</label>
						<button class="btn" name="_eventId_billingShippingInfo">
							Next - Billing/Shipping Info <i class="fa fa-angle-double-right"
								aria-hidden="true"></i>
						</button>
					</form>
	
				</div>
			</div>
			<div class="col-50">
				<div class="container">
					<h4>
						Products In Cart <span class="price" style="color: black"> <i
							class="fa fa-shopping-cart"></i> <b
							th:text="${#arrays.length(session.cart)}">0</b>
						</span>
					</h4>
					<p th:each="product : ${session.cart}">
						<a th:href="@{/products/} + ${product.productId}"
							href="product-detail.html" th:text="${product.productName}">Product
							Name X 2</a> x <span th:text="${product.quantity}"> </span> <span
							class="price"
							th:text="'Rs. ' + ${product.rate * product.quantity}">Rs.0</span>
					</p>
					<p>
						Sub Total &#61; <span class="price"
							style="color: black" th:text="${'Rs. ' + totalPrice}"><b>Rs.0</b></span>
					</p>
					<p>
						Shipping Cost &#61; <span id="shipping-amount" class="price"
							style="color: black" th:text="${'Rs.' + selectedShipping.amount}">Rs.0</span>
					</p>
					<p>
						Total &#61; <span id="total-amount" class="price"
							style="color: black"
							th:text="${'Rs.' + (totalPrice + selectedShipping.amount)}">Rs.0</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${session.cart == null}">
		There is no items in your cart. Please add product to cart to finalize the order.
	</div>

	<!-- Footer -->
	<!-- Replaces current footer tag with fragments/footer.html -->
	<footer th:replace="~{fragments/footer :: footer}"
		class="bg6 p-t-45 p-b-43 p-l-45 p-r-45"> </footer>
	<div th:replace="~{fragments/scripts :: scripts}"></div>
	<script src="js/checkout.js" th:src="@{/js/checkout.js}">
	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

	<script type="text/javascript" th:inline="javascript">
	    $.validate({
	        form: "#checkout"
	    });
	    
	    let shippingDetails = /*[[${shippingRateInfo}]]*/'';
		let subTotal = /*[[${totalPrice}]]*/'';

		function calculateTotal(shippingRate) {
			return subTotal + shippingRate
		}

		$("#citySelector").on(
				"change",
				function(event) {
					event.preventDefault();
					let value = parseFloat($("#citySelector option:selected")
							.attr("data-val"));
					//let city = $("#citySelector option:selected").text();
					//$("#shippingCity").val(city);
					$("#shipping-amount").empty();
					$("#shipping-amount").text("Rs. " + value);
					$("#total-amount").empty();
					$("#total-amount").text("Rs. " + calculateTotal(value));
				});
	</script>
</body>
</html>
