#shipping_detail_container {
	margin: 50px auto;
	width: 80%;
}

h3 {
	margin: 10px auto;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
	width: 100%;
}

.col-20 {
	-ms-flex: 20%;
	flex: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
}

.col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
}

.col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
}

.col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
}

.col-25, .col-50, .col-75 {
	padding: 0 16px;
}

.container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label {
	margin-bottom: 10px;
	display: block;
}

.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.btn {
	background-color: #e65540;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

.btn:hover {
	background-color: #45a049;
}

span.price {
	float: right;
	color: grey;
}

.border-right {
	border-right: 1px solid #ccc;
}

.checkout-status-container {
	height: 3em;
	background-color: #fff;
	margin-bottom: 10px;
}

.badge-container {
	color: #e65440;
	font-weight: bolder;
}

.badge {
	height: 17px;
	width: 17px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

.badge-normal {
	background-color: #ccc;
}

.badge-selected {
	background-color: #e65440;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media ( max-width : 800px) {
	.row {
		flex-direction: column-reverse;
	}
	.col-25 {
		margin-bottom: 20px;
	}
	.checkout-status-container {
		margin-top: 10px;
		display: flex;
		flex-flow: row wrap;
	}
}

@media ( max-width : 330px) {
	.checkout-status-container {
		margin-left:20px;
		
	}
}

@media (max-width: 600px) {
	.row {
		flex-wrap: wrap;
	}
}