<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Error Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"  />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/themify/themify-icons.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/elegant-font/html-css/style.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"  />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/slick/slick.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css" th:href="@{/vendor/noui/nouislider.min.css}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<!--===============================================================================================-->
    <style>
    	#error-page-container {
    		height: 35em;
    		background: url("/images/failure.png");
    		background-repeat: no-repeat;
    		background-size: 45% 90%;
    	}
    	
    	.jumbo-box {
    		height:10em;
    		width: 30em;
    		margin: 10em 10em 10em 0em;
    		border-radius: 5px;
    		background-color: ;
    		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    		transition: 0.3;
    		transform: rotate(-8deg);
    	}
		
		.jumbo-box:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
			transform: rotate(-15deg);
		}
		
		.sub-text{
			margin: 10px auto;
			font-weight: bold;
		}
    </style>
</head>
<body class="animsition">

<!-- Header -->
<header th:replace="~{fragments/header :: header}" class="header1">

</header>
<!-- <section id="error-page-container">
	<div class="">
		
	</div>
</section> -->
<div id="error-page-container">
	<div class="jumbo-box pull-right">
        <h1 class="text-center sub-text text-danger" th:if="${status}" th:text="${status}"> Something Went Wrong! </h1>
        <p class="text-center text-danger sub-text" th:if="${errorMsg}" th:text="${errorMsg}">Our servers are down. Our enginneers are working on it.</p>
	</div>
</div>


<!-- Footer -->
<!-- Replaces current footer tag with fragments/footer.html -->
<footer th:replace="~{fragments/footer :: footer}" class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
	
</footer>
<div th:replace="~{fragments/scripts :: scripts}">
</div>
</body>
</html>