<!DOCTYPE html>
<html
        lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
	<title>iPasal: Reset Password</title>
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" href="../static/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/forget-password.css" th:href="@{/css/forget-password.css}" />
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<div id="sc-password">
  <h1>Reset Password</h1>
        <div class="loader-holder">
            <div class="loader"></div>
        </div>
  <div class="sc-container">
    <input id="reset-email" type="text" placeholder="Please input your Email address" />
    <input id="button-proceed" type="submit" value="Get New Password" />
  </div>
</div>
    <!-- Footer -->
    <div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>