<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<title>Order Details Page.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/themify/themify-icons.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/elegant-font/html-css/style.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animate/animate.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animsition/css/animsition.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/select2/select2.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/slick/slick.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/noui/nouislider.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<!--===============================================================================================-->
</head>
<body class="animsition">
	<header th:replace="~{fragments/header}" class="header1"> </header>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-2 p-b-30">
					<div th:replace="~{fragments/customer-sidebar}"></div>
				</div>

				<div class="col-md-10 p-b-30">
					<div class="container">
						<div class="card">
							<div class="card-header">Order Details</div>
							<div class="card-body">
							<h3 th:text="'Order ID: #' + ${orderId}">Order ID: #28</h3>
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Serial No.</th>
											<th scope="col">ProductId</th>
											<th scope="col">ProductName</th>
											<th scope="col">Rate</th>
											<th scope="col">Quantity</th>
											<th scope="col">Image</th>
											<th></th>
										</tr>
									</thead>
									<tbody th:each="product, iteration: ${orderDetail}">
										<tr>
											<td th:text="'#Product ' + ${iteration.index + 1}"></td>
											<td th:text="${product.productId}"> </td>
											<td ><a th:href="@{/products/} + ${product.productId}" th:text="${product.productName}"></a></td>
											<td th:text="${product.rate}"> </td>
											<td th:text="${product.quantity}"> </td>
											<td ><img th:if="${product.images != null && #arrays.length(product.images) > 0}" th:src="${product.images.get(0).image}" width="100px" height="100px"/>
												<img th:if="${product.images == null}" th:src="${/images/gallery-13.jpg}" alt="IMG-PRODUCT" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<footer th:replace="~{fragments/footer :: footer}"
		class="bg6 p-t-45 p-b-43 p-l-45 p-r-45"> </footer>
	<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>