<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<title>iPasal: Customer Checkout</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/themify/themify-icons.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/elegant-font/html-css/style.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animate/animate.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/animsition/css/animsition.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/select2/select2.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/slick/slick.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/noui/nouislider.min.css"
	th:href="@{/vendor/noui/nouislider.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/checkout.css"
	th:href="@{/css/checkout.css}" />
<link
	href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css"
	rel="stylesheet" type="text/css" />
</head>
<body class="animsition">

	<!-- Header -->
	<header th:replace="~{fragments/header :: header}" class="header1">

	</header>


	<div class="row" id="shipping_detail_container"
		th:unless="${session.containsKey('cart') && session.cart == null}">
		<div class="row checkout-status-container">
			<div class="col-20">
				<div>
					<span class="badge badge-normal">1</span>PERSONAL
				</div>
			</div>
			<div class="col-20">
				<div class="badge-container">
					<span class="badge badge-selected">2</span>SHIPPING
				</div>
			</div>
			<div class="col-20">
				<div>
					<span class="badge badge-normal">3</span>DELIVERY
				</div>
			</div>
			<div class="col-20">
				<div>
					<span class="badge badge-normal">4</span>PAYMENT
				</div>
			</div>
			<div class="col-20">
				<div>
					<span class="badge badge-normal">5</span>FINISH
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<div class="container">
					<form id="checkout" th:object="${billingShippingInfo}"
						method="POST">
							<div class="col-50">
								<h3>Billing Address</h3>
								<div class="form-group">
									<label for="billing-email"><i class="fa fa-envelope"></i>
										Email</label> <input type="text" id="billing-email"
										th:field="*{billingAddress.email}" name="email"
										class="form-control" placeholder="john@example.com"
										data-validation="email">
								</div>

								<div class="from-group">
									<label for="billing-phone"><i
										class="fa fa-phone-square"></i> Contact Number</label> <input
										type="text" id="billing-phone"
										th:field="*{billingAddress.phone}" name="phone"
										class="form-control" placeholder="contact number"
										data-validation="number length" data-validation-length="10">
								</div>

								<div class="from-group">
									<label for="billing-street"><i
										class="fa fa-address-card-o"></i> Street Address</label> <input
										type="text" id="billing-street"
										th:field="*{billingAddress.street}" name="street"
										placeholder="thamel bazar" data-validation="required">
								</div>

								<div class="form-group">
									<label for="billing-city"><i class="fa fa-institution"></i>
										City</label> <input type="text" id="billing-city"
										th:field="*{billingAddress.city}" name="city"
										placeholder="Kathmandu" data-validation="required">
								</div>


								<div class="row">
									<div class="">
										<div class="col-50">
											<label for="billing-state">State</label> <input type="text"
												id="billing-state" th:field="*{billingAddress.state}"
												name="state" placeholder="5" data-validation="number"
												data-validation-length="max1">
										</div>
									</div>

									<div class="form-group">
										<div class="col-50">
											<label for="billing-zip">Zip</label> <input type="text"
												id="billing-zip" name="zipcode"
												th:field="*{billingAddress.zipcode}" placeholder="10001"
												data-validation="number" data-validation-length="max5">
										</div>
									</div>

								</div>
							</div>
							<div class="col-50">
								<h3>Shipping Address</h3>
								<div class="form-group">
									<label> Same as billing address <input type="checkbox"
										name="sameShippingAddress" id="sameShippingAddress" />
									</label>
								</div>
								<div id="shipping-form-container">
									<div class="form-group">
										<label for="shipping-email"><i class="fa fa-envelope"></i>
											Email</label> <input type="text" id="shipping-email" name="email"
											th:field="*{shippingAddress.email}" class="form-control"
											placeholder="john@example.com" data-validation="email">
									</div>

									<div class="from-group">
										<label for="shipping-phone"><i
											class="fa fa-phone-square"></i> Contact Number</label> <input
											type="text" id="shipping-phone" name="phone"
											th:field="*{shippingAddress.phone}" class="form-control"
											placeholder="contact number" data-validation="number length"
											data-validation-length="10">
									</div>

									<div class="from-group">
										<label for="shipping-street"><i
											class="fa fa-address-card-o"></i> Address</label> <input type="text"
											id="shipping-street" name="street"
											th:field="*{shippingAddress.address}"
											placeholder="thamel bazar" data-validation="required">
									</div>

									<div class="form-group">
										<label for="shipping-city"><i
											class="fa fa-institution"></i> City</label> <input type="text"
											id="shipping-city" name="city"
											th:field="*{shippingAddress.city}" placeholder="Kathmandu"
											data-validation="required">
									</div>


									<div class="row">
										<div class="">
											<div class="col-50">
												<label for="shipping-state">State</label> <input type="text"
													id="shipping-state" name="state"
													th:field="*{shippingAddress.state}" placeholder="5"
													data-validation="number" data-validation-length="max1">
											</div>
										</div>

										<div class="form-group">
											<div class="col-50">
												<label for="shipping-zip">Zip</label> <input type="text"
													id="shipping-zip" name="zip"
													th:field="*{shippingAddress.zipcode}" placeholder="10001"
													data-validation="number" data-validation-length="max5">
											</div>
										</div>
									</div>
								</div>
							</div>
						<button class="btn" name="_eventId_personalInfo">
							<i class="fa fa-angle-double-left" aria-hidden="true"></i> Prev -
							Personal Info
						</button>
						<button class="btn" name="_eventId_deliveryMethod">
							Next - Delivery Method <i class="fa fa-angle-double-right"
								aria-hidden="true"></i>

						</button>
					</form>
				</div>
			</div>

			<div class="col-50">
				<div class="container">
					<h4>
						Items In Cart <span class="price" style="color: black"> <i
							class="fa fa-shopping-cart"></i> <b
							th:text="${#arrays.length(session.cart)}">0</b>
						</span>
					</h4>
					<p th:each="product : ${session.cart}">
						<a th:href="@{/products/} + ${product.productId}"
							href="product-detail.html" th:text="${product.productName}">Product
							Name X 2</a> x <span th:text="${product.quantity}"> </span> <span
							class="price"
							th:text="'Rs. ' + ${product.rate * product.quantity}">Rs.0</span>
					</p>
					<hr>
					<p>
						Sub Total &#61; <span class="price"
							th:text="${'Rs. ' + totalPrice}">Rs.0</span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${!session.containsKey('cart') || session.cart == null}">
		There are no items in your cart. Please add product to cart to
		finalize the order.</div>
	<!-- Footer -->
	<!-- Replaces current footer tag with fragments/footer.html -->
	<footer th:replace="~{fragments/footer :: footer}"
		class="bg6 p-t-45 p-b-43 p-l-45 p-r-45"> </footer>
	<div th:replace="~{fragments/scripts :: scripts}"></div>
	<script src="js/checkout.js" th:src="@{/js/checkout.js}">
		
	</script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

	<script type="text/javascript" th:inline="javascript">
		let shippingDetails = /*[[${shippingRateInfo}]]*/'';
		let subTotal = /*[[${totalPrice}]]*/'';
		$.validate({
			form : "#checkout"
		});

		$("#sameShippingAddress").on('change', function(event) {
			event.preventDefault();
			$("#shipping-form-container").toggle();
			$("#shipping-email").val($("#billing-email").val());
			$("#shipping-phone").val($("#billing-phone").val());
			$("#shipping-street").val($("#billing-street").val());
			$("#shipping-city").val($("#billing-city").val());
			$("#shipping-state").val($("#billing-state").val());
			$("#shipping-zip").val($("#billing-zip").val());
		});

		/* $("#citySelector").on("change", function(event) {
			event.preventDefault();
			let value = parseFloat($(this).val());
			let city = $("#citySelector option:selected").text();
			$("#shippingCity").val(city);
			$("#shipping-amount").empty();
			$("#shipping-amount").text("Rs. " + value);
			$("#total-amount").empty();
			$("#total-amount").text("Rs. " + calculateTotal(value));
		}); */
	</script>
</body>
</html>
